<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>박스모델</title>
    <style>
        div {
            width: 200px;
            height: 100px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .box1 {
            border:10px dotted #ccc;
        }
        .box2 {
            box-sizing: border-box;
            border: 12px double #00f;
        }
    </style>
</head>
<body>
    <div class="box1"></div>
    <div class="box2"></div>
</body>
</html>