body {
    width:600px;
    margin:10px auto;
}
fieldset {
    margin-bottom:20px;
}
ul {
    list-style: none;
    padding-left: 0;
}
ul li {
    margin: 10px;
}
li label {
    width: 120px;
    line-height: 36px;
    float: left;
    font-weight:bold;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 300px;
    height: 30px;
}
button {
 text-align: center;
}